# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/commandlinetools/Laravel_2024_09_22__7_34_p_m_.xml
